.container{
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;

}

.container .header{
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container .header .nav{
    width: 90%;
    display: flex;
    align-items: center;

}

.container .header .nav .search{
    flex: 3;
    display: flex;
}

.container .header .nav .search button{
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.w{
    background: white;
}
.container .header .nav input[type=text]{
    border: none;
    background: whitesmoke;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    
}
.container .header .nav .search button img{
    width: 30px;
    height: 30px;
    /* background: white; */
}

.btn{
    background: gray;
    color: white;
    padding: 5px;
    text-align: center;
}

.container .header .nav .user {
flex: 1;
display: flex;
justify-content: space-between;
align-items: center;

}

.container .header .nav .user img{
width: 40px;
height: 40px;

}

.container .header .nav .user .img-case{
    position:relative;
    width: 50px;
    height: 50px;
}

.container .header .nav .user .img-case img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


.container .content{
    position:relative;
    margin-top: 0;
    min-height: 90vh;
}
.container .content .cards{
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .content .cards .card{
    width: 250px;
    height: 150px;
    background: white;
    margin: 20px 10px;

}





